/*
  Media query manager

  $breakpoints: (
    'phone': 37.5em,
    'tab-port': 56.25em,
    'tab-land': 75em,
    'desktop': 112.5em
  );

  1em = 16px
*/
.margin-left-12 {
  margin-left: 12rem;
}

@media only screen and (max-width: 48em) {
  .margin-left-12 {
    margin-left: 5rem;
  }
}

.margin-right-12 {
  margin-right: 12rem;
}

@media only screen and (max-width: 48em) {
  .margin-right-12 {
    margin-right: 5rem;
  }
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-bottom-7 {
  margin-bottom: 7rem;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-none {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-regular-webfont.woff") format("woff"), url("../assets/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-light-webfont.woff") format("woff"), url("../assets/fonts/montserrat-light-webfont.woff2") format("woff2"), url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat-bold-webfont.woff") format("woff"), url("../assets/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url("../assets/fonts/librebaskerville-regular-webfont.woff") format("woff"), url("../assets/fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url("../assets/fonts/librebaskerville-bold-webfont.woff") format("woff"), url("../assets/fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 26.57em) {
  html {
    font-size: 50%;
  }
}

.heading--2 {
  color: #BCBCBC;
  font-size: 3.5rem;
  font-family: "LibreBaskerville";
}

.heading--3 {
  color: #bcd08e;
  font-family: "LibreBaskerville";
  font-size: 3rem;
  text-align: center;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / span 1 / -1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 3rem 3rem;
}

.nav__list--mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  right: 0;
  background-color: #212121;
  height: 73vh;
  padding-top: 10rem;
}

.nav__list--mobile--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__icon-container {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: #6e7969;
  border-radius: 50%;
  cursor: pointer;
}

.nav__icon-container--display {
  display: block;
}

.nav__link {
  color: #bcd08e;
  font-size: 3rem;
  margin-right: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.nav__icon {
  content: '';
  height: 2px;
  width: 25px;
  background-color: #bcd08e;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__icon::before, .nav__icon::after {
  content: '';
  height: 2px;
  width: 25px;
  background-color: #bcd08e;
  position: absolute;
}

.nav__icon::before {
  bottom: 8px;
}

.nav__icon::after {
  top: 8px;
}

@media only screen and (max-width: 90em) {
  .nav__list {
    padding: 3rem 2rem;
  }
  .nav__link {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .nav__list {
    padding: 3rem 1.5rem;
  }
  .nav__link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 48em) {
  .nav__list {
    padding: 7rem 2rem 3rem 2rem;
  }
  .nav__item {
    margin: 2rem;
  }
  .nav__link {
    margin-right: 0;
  }
}

.menu {
  grid-column: col-start 2 / col-end 11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr (min-content)[2] (minmax(min-content, max-content))[auto-fil];
      grid-template-rows: 1fr repeat(2, -webkit-min-content) repeat(auto-fil, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-rows: 1fr repeat(2, min-content) repeat(auto-fil, minmax(min-content, max-content));
  background-color: rgba(110, 121, 105, 0.3);
  margin: 8rem 0;
}

@media only screen and (max-width: 64em) {
  .menu {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr (min-content)[2] (minmax(min-content, max-content))[auto-fil];
        grid-template-rows: 1fr repeat(2, -webkit-min-content) repeat(auto-fil, minmax(-webkit-min-content, -webkit-max-content));
        grid-template-rows: 1fr repeat(2, min-content) repeat(auto-fil, minmax(min-content, max-content));
    grid-auto-flow: dense;
  }
}

@media only screen and (max-width: 26.57em) {
  .menu {
    margin: 0;
    margin-top: 1rem;
    grid-column: 1 / -1;
  }
}

.menu__heading {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #BCBCBC;
  font-size: 4rem;
  font-weight: 300;
}

.menu > h2:first-child {
  margin-top: 7rem;
}

.menu > h2:last-of-type {
  margin-bottom: 7rem;
}

.menu__img {
  width: 100%;
}

@media only screen and (max-width: 64em) {
  .menu__img:nth-of-type(even) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
}

@media only screen and (max-width: 20.82em) {
  .menu__img {
    grid-column: 1 / -1 !important;
  }
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 64em) {
  .menu__card {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu__card:nth-of-type(even) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

@media only screen and (max-width: 20.82em) {
  .menu__card {
    grid-column: 1 / -1 !important;
  }
}

@media only screen and (min-width: 65em) {
  .menu__card--left-one {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / span 1 / span 1;
  }
  .menu__card--left-two {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 4 / 3 / span 1 / span 1;
  }
}

@media only screen and (max-width: 20.82em) {
  .menu__card {
    grid-column: 1 / -1;
    height: 18rem;
  }
}

.menu__title {
  color: #bcd08e;
  font-family: 'LibreBaskerville';
  font-size: 2rem;
}

.menu__text {
  color: #BCBCBC;
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
}

@media only screen and (max-width: 26.57em) {
  .menu__text {
    padding: 0 2rem;
  }
}

.menu__price {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.brush-icon {
  display: block;
  height: 4rem;
  background-size: contain;
  background-position: center;
}

.brush-icon--one, .brush-icon--two, .brush-icon--three {
  background-repeat: repeat-x;
  background-image: url("../assets/icons/brush.png");
  background-position: left;
}

.brush-icon--one {
  width: 3rem;
}

.brush-icon--two {
  width: 6rem;
}

.brush-icon--three {
  width: 9rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #c6c6c5;
  border-radius: 3px;
  overflow: hidden;
}

@media only screen and (max-width: 48em) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 26.57em) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__image {
  max-width: 100%;
}

@media only screen and (max-width: 48em) {
  .card__image {
    max-width: 50%;
  }
}

@media only screen and (max-width: 26.57em) {
  .card__image {
    max-width: 100%;
  }
}

.card__details {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25rem;
}

@media only screen and (max-width: 48em) {
  .card__details {
    height: auto;
  }
}

@media only screen and (max-width: 26.57em) {
  .card__details {
    height: 23rem;
  }
}

.card__date {
  color: #212121;
  font-size: 1.6rem;
}

.card__heading {
  color: #212121;
  font-size: 1.8rem;
  font-weight: 400;
}

.card__text {
  font-size: 1.5rem;
  color: #616161;
}

.card__cta {
  font-size: 1.8rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.card__cta::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -15%;
  left: 0;
  border-radius: 3px;
  width: 100%;
  height: 5px;
  background-color: #5f7e18;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  height: 5rem;
  width: 5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.social-icon:not(:last-child) {
  margin-right: 2rem;
}

.social-icon--facebook {
  background-image: url("../assets/icons/facebook.png");
}

.social-icon--twitter {
  background-image: url("../assets/icons/twitter.png");
}

.social-icon--instagram {
  background-image: url("../assets/icons/instagram.png");
}

.social-icon--pinterest {
  background-image: url("../assets/icons/pinterest.png");
}

.social-icon--google {
  background-image: url("../assets/icons/google.png");
}

.hero {
  grid-column: col-start 1 / col-end 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: min-content max-content;
      grid-template-rows: -webkit-min-content -webkit-max-content;
      grid-template-rows: min-content max-content;
  background-image: url("../assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2 / 4 / span 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 4rem 0 14rem 5rem;
}

@media only screen and (max-width: 48em) {
  .hero__container {
    margin: 4rem 0 14rem 0;
  }
}

@media only screen and (max-width: 36.25em) {
  .hero__container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 3 / span 1 / -1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 26.57em) {
  .hero__container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / span 1 / -1;
    margin: 4rem 0;
  }
}

.hero__logo {
  -o-object-fit: none;
     object-fit: none;
}

.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  color: #bcd08e;
  text-transform: uppercase;
  padding: 7rem 0;
  font-family: 'Montserrat';
  font-weight: 300;
}

@media only screen and (max-width: 90em) {
  .hero__heading {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .hero__heading {
    font-size: 3rem;
  }
}

.hero__heading span {
  font-weight: 700;
  font-size: 7rem;
  line-height: 1;
}

@media only screen and (max-width: 64em) {
  .hero__heading span {
    font-size: 4rem;
  }
}

.hero__cta {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #bcd08e;
  text-transform: uppercase;
  padding: 2rem;
  margin-top: 4rem;
  background-color: rgba(88, 94, 85, 0.7);
}

@media only screen and (max-width: 90em) {
  .hero__cta {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

@media only screen and (max-width: 64em) {
  .hero__cta {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
}

@media only screen and (max-width: 48em) {
  .hero__cta {
    font-size: 2rem;
    padding: 1.5rem 2rem;
  }
}

.intro {
  color: #bcd08e;
  grid-column: col-start 1 / col-end 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr (max-content)[2] 1fr;
      grid-template-rows: 1fr repeat(2, -webkit-max-content) 1fr;
      grid-template-rows: 1fr repeat(2, max-content) 1fr;
  position: relative;
  z-index: 10;
  height: 48.5rem;
}

@media only screen and (max-width: 48em) {
  .intro {
    height: 35rem;
  }
}

.intro__bg-image {
  background-image: url("../assets/images/section-one-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 48em) {
  .intro__bg-image {
    opacity: 0.45;
  }
}

@media only screen and (max-width: 475px) {
  .intro__bg-image {
    background-size: cover;
  }
}

.intro__heading, .intro__text {
  margin-left: 5rem;
}

.intro__heading {
  font-size: 3rem;
  font-family: 'LibreBaskerville';
  padding-bottom: 5rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / span 1 / 3;
}

@media only screen and (max-width: 48em) {
  .intro__heading {
    grid-column: 1 / -1;
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 36.25em) {
  .intro__heading {
    margin: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 26.57em) {
  .intro__heading {
    padding: 0 2rem 2rem;
  }
}

.intro__text {
  color: #BCBCBC;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-right: 7rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / span 1 / 3;
}

@media only screen and (max-width: 48em) {
  .intro__text {
    grid-column: 1 / -1;
    margin: 0 10rem;
    font-size: 1.5rem;
    color: white;
  }
}

@media only screen and (max-width: 36.25em) {
  .intro__text {
    margin: 0;
    width: 85%;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 26.57em) {
  .intro__text {
    margin-right: 0;
  }
}

.intro__img {
  grid-area: 1 / 3 / -1 / -1;
  width: 100%;
}

.advantages {
  grid-column: col-start 1 / col-end 12;
  background-color: rgba(110, 121, 105, 0.3);
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 8rem) (minmax(0, auto))[6] minmax(min-content, 8rem);
      grid-template-columns: minmax(-webkit-min-content, 8rem) repeat(6, minmax(0, auto)) minmax(-webkit-min-content, 8rem);
      grid-template-columns: minmax(min-content, 8rem) repeat(6, minmax(0, auto)) minmax(min-content, 8rem);
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

@media only screen and (max-width: 26.57em) {
  .advantages {
    padding: 3rem 0;
  }
}

.advantages__box {
  margin: 6rem 0;
  grid-column: auto / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 64em) {
  .advantages__box {
    padding-right: 0;
    margin: 3rem 0;
  }
}

.advantages__box--one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media only screen and (max-width: 64em) {
  .advantages__box--one, .advantages__box--two, .advantages__box--three {
    grid-column: 2 / -2;
  }
}

.advantages__box--flex {
  grid-column: 2 / -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__heading {
  color: #BCBCBC;
  font-size: 2rem;
  font-family: 'LibreBaskerville';
  padding: 3rem 0;
}

@media only screen and (max-width: 64em) {
  .advantages__heading {
    padding: 2.5rem 0;
  }
}

.advantages__text {
  color: #bcd08e;
  font-size: 1.6rem;
  font-weight: 300;
}

.advantages__text--width-60 {
  width: 60%;
  color: #BCBCBC;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  margin: 4rem 0;
}

@media only screen and (max-width: 64em) {
  .advantages__text--width-60 {
    width: 80%;
  }
}

@media only screen and (max-width: 48em) {
  .advantages__text--width-60 {
    width: 100%;
  }
}

#advantages-last {
  border-top: 2px solid transparent;
}

.new-menu {
  grid-column: col-start 1 / col-end 12;
  position: relative;
}

.new-menu__bg-image {
  width: 100%;
}

@media only screen and (max-width: 36.25em) {
  .new-menu__bg-image {
    height: 108rem;
  }
}

.new-menu__container {
  background-color: #444F3F;
  opacity: 0.95;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[2];
      grid-template-columns: repeat(2, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
  gap: 5rem 10rem;
  justify-items: center;
  padding: 7rem 10rem;
  position: absolute;
  top: 13.5%;
  width: 100%;
}

@media only screen and (max-width: 64em) {
  .new-menu__container {
    padding: 5rem;
  }
}

@media only screen and (max-width: 36.25em) {
  .new-menu__container {
    -ms-grid-columns: minmax(min-content, 1fr);
        grid-template-columns: minmax(-webkit-min-content, 1fr);
        grid-template-columns: minmax(min-content, 1fr);
    top: 10.5%;
  }
}

@media only screen and (max-width: 20.82em) {
  .new-menu__container {
    top: 9%;
    padding: 3rem;
  }
}

.new-menu__heading {
  grid-column: 1 / -1;
}

.new-menu__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.new-menu__icon {
  display: block;
  height: 7.5rem;
  width: 7.5rem;
  background-position: center;
  background-size: unset;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.new-menu__icon--nigiri {
  background-image: url("../assets/icons/nigiri.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/nigiri.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__icon--ramen {
  background-image: url("../assets/icons/ramen.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/ramen.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__icon--sushi {
  background-image: url("../assets/icons/sushi.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/sushi.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__icon--sashimi {
  background-image: url("../assets/icons/sashimi.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/sashimi.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__icon--uramaki {
  background-image: url("../assets/icons/uramaki.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/uramaki.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__icon--sushi-rice {
  background-image: url("../assets/icons/sushi-rice.png"), -webkit-gradient(linear, left top, right top, from(#c6c6c5), to(#c6c6c5));
  background-image: url("../assets/icons/sushi-rice.png"), linear-gradient(to right, #c6c6c5, #c6c6c5);
}

.new-menu__details {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-menu__title {
  font-family: "LibreBaskerville";
  font-size: 1.8rem;
  color: #BCBCBC;
}

.new-menu__text {
  font-size: 1.6rem;
  color: #bcd08e;
}

.book {
  grid-column: col-start 1 / col-end 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__heading {
  padding-bottom: 3rem;
}

.book__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 25rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(0, 25rem));
  gap: 4.5rem 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 10rem;
}

@media only screen and (max-width: 64em) {
  .book__form {
    padding: 0;
  }
}

@media only screen and (max-width: 36.25em) {
  .book__form {
    padding: 0 2rem;
    gap: 4.5rem 6rem;
  }
}

@media only screen and (max-width: 26.57em) {
  .book__form {
    padding: 0;
    gap: 4.5rem 0;
    -ms-grid-columns: (minmax(0, 35rem))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(0, 35rem));
  }
}

.book__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book__label {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding-bottom: 1rem;
}

.book__input, .book__input--dropdown, .book__submit {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #212121;
  color: #ffffff;
  font-size: 1.6rem;
}

.book__input::-webkit-input-placeholder, .book__input--dropdown::-webkit-input-placeholder, .book__submit::-webkit-input-placeholder {
  color: #ffffff;
}

.book__input:-ms-input-placeholder, .book__input--dropdown:-ms-input-placeholder, .book__submit:-ms-input-placeholder {
  color: #ffffff;
}

.book__input::-ms-input-placeholder, .book__input--dropdown::-ms-input-placeholder, .book__submit::-ms-input-placeholder {
  color: #ffffff;
}

.book__input::placeholder, .book__input--dropdown::placeholder, .book__submit::placeholder {
  color: #ffffff;
}

.book__input--dropdown {
  color: #BCBCBC;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/icons/triangle.png") no-repeat 97% 50%;
}

.book__submit {
  grid-column: 1 / -1;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.5rem 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.book__submit:hover {
  color: #212121;
  background-color: #ffffff;
}

#date {
  background: url("../assets/icons/calendar.png") no-repeat 98% 48%;
}

#time {
  background: url("../assets/icons/clock.png") no-repeat 98% 48%;
}

.todays-menu {
  grid-column: col-start 1 / col-end 12;
  background-color: rgba(110, 121, 105, 0.3);
  padding: 0 12rem 7rem 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 64em) {
  .todays-menu {
    padding: 0 7rem 5rem 7rem;
  }
}

@media only screen and (max-width: 26.57em) {
  .todays-menu {
    padding: 0 3rem;
  }
}

.todays-menu__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: center;
}

.testimonials {
  grid-column: col-start 1 / col-end 12;
  background-color: rgba(33, 33, 33, 0.3);
  color: #bcd08e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 0;
}

@media only screen and (max-width: 36.25em) {
  .testimonials {
    padding: 5rem 0;
  }
}

.testimonials__text {
  font-size: 1.6rem;
  font-family: "Montserrat";
  font-weight: 300;
  width: 60%;
  text-align: center;
  padding: 2rem 0;
}

.testimonials__author {
  font-size: 2rem;
  font-family: "LibreBaskerville";
  padding-bottom: 3rem;
}

.footer {
  grid-column: col-start 1 / col-end 12;
  background-color: rgba(110, 121, 105, 0.3);
  color: #BCBCBC;
  padding: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
}

@media only screen and (max-width: 36.25em) {
  .footer {
    padding: 5rem;
  }
}

@media only screen and (max-width: 20.82em) {
  .footer {
    padding: 3rem;
  }
}

.footer__heading {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.footer__text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / span 1 / span 1;
  font-size: 1.4rem;
}

.footer__list {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / span 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
}

.footer__item {
  text-align: center;
}

@media only screen and (max-width: 64em) {
  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.footer__link {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  position: relative;
}

.footer__link::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -15%;
  left: 0;
  border-radius: 3px;
  width: 100%;
  height: 5px;
  background-color: #5f7e18;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212121;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] minmax(0, 8rem) [col-end])[12];
      grid-template-columns: repeat(12, [col-start] minmax(0, 8rem) [col-end]);
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  background-image: url("../assets/images/background-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (max-width: 20.82em) {
  .container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.container__bg-image {
  grid-column: col-start 1 / col-end 12;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */