@mixin green-bg {
  background-color: rgba($color-bg-dark-2, 0.3);
}

@mixin dark-bg {
  background-color: rgba($color-bg-dark-1, 0.3);
}

@mixin menu-icon-line {
  content: '';
    height: 2px;
    width: 25px;
    background-color: $color-font-green;
    position: absolute;
}

@mixin green-underline {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -15%;
  left: 0;
  border-radius: 3px;
  width: 100%;
  height: 5px;
  background-color: #5f7e18;
}

/*
  Media query manager

  $breakpoints: (
    'phone': 37.5em,
    'tab-port': 56.25em,
    'tab-land': 75em,
    'desktop': 112.5em
  );

  1em = 16px
*/

$breakpoints: (
  'mobile-s': 20em,
  'mobile-m': 20.82em,
  'mobile-l': 26.57em,
  'tablet-s': 36.25em,
  'tablet': 48em,
  'laptop': 64em,
  'laptop-l': 90em,
  'uhd': 160em,
  '8k': 500em,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media only screen and (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no values could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($map: $breakpoints)}";
  }
}