.advantages {
  grid-column: col-start 1 / col-end 12;
  @include green-bg;
  display: flex;
  gap: 6rem;
  justify-content: center;
  padding: 5rem 0;

  &__box {
    margin-top: 6rem;
    margin-bottom: 6rem;

    &--flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__heading {
    color: $color-font-light;
    font-size: 2rem;
    font-family: 'LibreBaskerville';
    padding: 3rem 0;
  }

  &__text {
    color: $color-font-green;
    font-size: 1.6rem;
    font-weight: 300;

    &--width-60 {
      width: 50%;
      color: $color-font-light;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: center;
      margin: 4rem 0;
    }
  }
}
