.footer {
  grid-column: col-start 1 / col-end 12;
  @include green-bg;
  color: $color-font-light;
  padding: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);

  @include respond-to('tablet-s') {
    padding: 5rem;
  }

  &__heading {
    font-size: 2rem;
    padding-bottom: 3rem;
  }

  &__text {
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 1.4rem;
  }

  &__list {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    justify-items: center;
  }

  &__item {
    text-align: center;
    @include respond-to('laptop') {
      flex: 1 0 50%;
    }
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    position: relative;

    &::after {
      @include green-underline;
    }
  }
}
