.new-menu {
  grid-column: col-start 1 / col-end 12;
  position: relative;

  &__bg-image {
    width: 100%;
    @include respond-to('tablet-s') {
      height: 108rem;
    }
  }

  &__container {
    background-color: #444F3F;
    opacity: 0.95;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 5rem 10rem;
    justify-items: center;
    padding: 7rem 10rem;
    position: absolute;
    top: 13.5%;
    width: 100%;

    @include respond-to('laptop') {
      padding: 5rem;
    }

    @include respond-to('tablet-s') {
      grid-template-columns: minmax(min-content, 1fr);
      top: 10.5%;
    }

    @include respond-to('mobile-m'){
      top: 9%;
      padding: 3rem;
    }
  }

  &__heading {
    grid-column: 1 / -1;
  }

  &__box {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  &__icon {
    display: block;
    height: 7.5rem;
    width: 7.5rem;
    background-position: center;
    // FIXME: Do I need size??
    background-size: unset;
    background-repeat: no-repeat;
    border-radius: 50%;

    &--nigiri {
      background-image:  url('/assets/icons/nigiri.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }

    &--ramen {
      background-image:  url('/assets/icons/ramen.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }

    &--sushi {
      background-image:  url('/assets/icons/sushi.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }
    
    &--sashimi {
      background-image:  url('/assets/icons/sashimi.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }

    &--uramaki {
      background-image:  url('/assets/icons/uramaki.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }

    &--sushi-rice {
      background-image:  url('/assets/icons/sushi-rice.png'), linear-gradient(to right, rgba($color-icon-bg, 1), rgba($color-icon-bg, 1));
    }
  }

  &__details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-family: "LibreBaskerville";
    font-size: 1.8rem;
    color: $color-font-light;
  }

  &__text {
    font-size: 1.6rem;
    color: $color-font-green;
  }
}