.todays-menu {
  grid-column: col-start 1 / col-end 12;
  @include green-bg;
  padding-bottom: 7rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__heading {
   flex: 1 0 100%;
   text-align: center;
  }

  & > div:not(:last-child) {
    margin-right: 6rem;
  }
}
