.brush-icon {
    display: block;
    height: 4rem;
    background-size: contain;
    background-position: center;

    &--one,
    &--two,
    &--three {
      background-repeat: repeat-x;
      background-image: url('/assets/icons/brush.png');
      background-position: left;
    }

    &--one {
      width: 31px;
    }

    &--two {
      width: 60px;
    }

    &--three {
      width: 90px;
    }
  }
  