.nav {
  grid-area: 1 / 1 / span 1 / -1;

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem 3rem 3rem;

    &--mobile { 
      display: none;
      flex-direction: column;
      align-items: flex-end;
      justify-content: start;
      position: absolute;
      right: 0;
      background-color: $color-bg-dark-1;
      height: 100vh;
      padding-top: 10rem;

      &--display {
        display: flex;
      }
    }
  }

  &__icon-container {
      display: none;   
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 5rem;
      height: 5rem;
      background-color:$color-bg-dark-2;
      border-radius: 50%;
      cursor: pointer;

      &--display {
        display: block;
      }
  }

  &__link {
    color: $color-font-green;
    font-size: 3rem;
    margin-right: 5rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__icon {
    @include menu-icon-line;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      @include menu-icon-line;
    }

    &::before {
      bottom: 8px;
    }

    &::after {
      top: 8px;
    }
  }

  @include respond-to('laptop-l') {
    &__list {
      padding: 3rem 2rem;
    }

    &__link {
      font-size: 2.5rem;
    }
  }

  @include respond-to('laptop') {
    &__list {
      padding: 3rem 1.5rem;
    }

    &__link {
      font-size: 2rem;
    }
  }

  @include respond-to('tablet') {
    &__list {
      padding: 7rem 2rem 3rem 2rem;
    }

    &__item {
      margin: 2rem;
    }

    &__link {
      margin-right: 0;
    }
  }
}
