@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-regular-webfont.woff') format('woff'),
    url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-light-webfont.woff') format('woff'),
    url('/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-bold-webfont.woff') format('woff'),
    url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/assets/fonts/librebaskerville-regular-webfont.woff') format('woff'),
    url('/assets/fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/assets/fonts/librebaskerville-bold-webfont.woff') format('woff'),
    url('/assets/fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.heading--3 {
  color: $color-font-green;
  font-family: "LibreBaskerville";
  font-size: 3rem;
}