body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-items: center;
  background-color: $color-bg-dark-1;
}

.container {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr repeat(
      12,
      [col-start] minmax(min-content, 12rem) [col-end]
    ) 1fr;
  background-image: url('/assets/images/background-img.png');

  &__bg-image {
    grid-column: col-start 1 / col-end 12;
  }
}
